.display * {
  margin: 0;
  word-wrap: break-word;
}
.display {
  max-height: 100%;
  overflow-y: scroll;
}
.display__flights {
  display: grid;
}
.display__card {
  width: 240px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}
.display__card > img {
  background-color: #ddd;
  width: 100%;
}
.display__name {
  font-size: 20px;
  color: rgb(50, 88, 170);
  margin-bottom: 5px;
}
.display__subHead {
  margin: 5px auto;
  display: inline-block !important;
}
@media only screen and (max-width: 820px) {
  .display__flights {
    grid-template-columns: 1fr;
  }
  .display__card {
    width: auto;
  }
  .display > h2 {
    text-align: center;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 820px) and (max-width: 1120px) {
  .display__flights {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1120px) and (max-width: 1440px) {
  .display__flights {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1440px) {
  .display__flights {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
