.filters * {
  margin: 0;
}
.filters {
  width: 160px;
  height: 600px;
  max-height: 100%;
  overflow: hidden;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}
.filters__subHead {
  margin: 10px auto;
  text-align: center;
}
.filters__subHead > hr {
  width: 70%;
  margin: 5px auto;
}
.bx-reset {
  display: block;
  background-color: #bfe4a3;
  width: fit-content;
  margin: auto;
  padding: 2px 7px;
  border-radius: 5px;
  cursor: pointer;
}
.filters__options {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.filters__options > p {
  background-color: #bfe4a3;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.filters__options > p.active {
  background-color: #99b782;
}
.filters__options > p:hover,
.bx-reset:hover {
  background-color: #99b782;
}
@media only screen and (max-width: 700px) {
  .filters {
    width: auto;
    /* font-size: larger; */
  }
  .filters__options {
    justify-content: space-evenly;
  }
}
