@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  scroll-behavior: smooth;
  max-height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd;
  max-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

.app {
  display: grid;
  grid-template-columns: auto auto;
  flex: 1;
  height: 90vh;
  max-height: 90vh;
  overflow-y: scroll;
}

.heading {
  margin: 5px 0 0 10px;
  max-height: 5vh;
  height: 5vh;
}
.heading.footer {
  text-align: center;
  font-size: calc(5px + 2vh) !important;
  max-height: 5vh;
  height: 5vh;
}
.scroll {
  font-size: 24px;
  position: fixed;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #888;
  transition: 0.25s ease-in-out;
}
.bottom {
  bottom: 15px;
}
.top {
  bottom: 55px;
}
.scroll:hover {
  transform: scale(1.2);
}
@media only screen and (max-width: 700px) {
  .app {
    grid-template-columns: auto;
    height: fit-content;
  }
  html,
  body {
    overflow: visible;
  }
}
